# Objectif

Récupérer les données brutes à l'adresse:
`https://raw.githubusercontent.com/VPerrollaz/immobilier/master/donnees/brute.json`

Puis produire un dataset propre à faire du machine learning.

In [1]:
ADRESSE = "https://raw.githubusercontent.com/VPerrollaz/immobilier/master/donnees/brute.json"

In [2]:
from requests import get

In [3]:
page = get(ADRESSE)

In [4]:
contenu = page.text

In [5]:
import json

In [6]:
json.loads(s=contenu)

JSONDecodeError: Extra data: line 2 column 1 (char 445)

In [7]:
print(contenu[:1000])

{"id": "annonce-138905473-376235", "genre": "Appartement", "prix": "374 400 \u20ac", "pcs": "3 p 2 ch 90 m\u00b2", "desc": "Appartement type 3 - TOURS CATH\u00c9DRALE TOURS CATH\u00c9DRALE: Ravissant appartement type 3 d'environ 90 m\u00b2 dans r\u00e9sidence de standing (~50 lots) avec cave et parking. Entr\u00e9e,...\n\u00c7a m'int\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/appartement/tours-37/cathedrale/138905473.htm"}
{"id": "annonce-140620177-376235", "genre": "Appartement", "prix": "499 200 \u20ac", "pcs": "5 p 4 ch 146,27 m\u00b2", "desc": "TOURS HYPERCENTRE - Appartement TOURS HYPERCENTRE: Superbe appartement de 146,37 m\u00b2 (LOI CARREZ) dans un immeuble de caract\u00e8re avec ascenseur. Entr\u00e9e, s\u00e9jour SUD, vaste...\n\u00c7a m'int\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/appartement/tours-37/centre/140620177.htm"}
{"id": "annonce-140620179-376235", "genre": "Appartement", "prix": "499 200 \u20ac", "pcs": "5 p 3 ch 110 m\u00b2",

In [8]:
contenu[:1000]

'{"id": "annonce-138905473-376235", "genre": "Appartement", "prix": "374 400 \\u20ac", "pcs": "3 p 2 ch 90 m\\u00b2", "desc": "Appartement type 3 - TOURS CATH\\u00c9DRALE TOURS CATH\\u00c9DRALE: Ravissant appartement type 3 d\'environ 90 m\\u00b2 dans r\\u00e9sidence de standing (~50 lots) avec cave et parking. Entr\\u00e9e,...\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/appartement/tours-37/cathedrale/138905473.htm"}\n{"id": "annonce-140620177-376235", "genre": "Appartement", "prix": "499 200 \\u20ac", "pcs": "5 p 4 ch 146,27 m\\u00b2", "desc": "TOURS HYPERCENTRE - Appartement TOURS HYPERCENTRE: Superbe appartement de 146,37 m\\u00b2 (LOI CARREZ) dans un immeuble de caract\\u00e8re avec ascenseur. Entr\\u00e9e, s\\u00e9jour SUD, vaste...\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/appartement/tours-37/centre/140620177.htm"}\n{"id": "annonce-140620179-376235", "genre": "Appartement", "prix": "499 200 \\u20ac", "pcs": "5 p 3 ch 110 m\\u00b2",'

**REMARQUE** on voit que le json est mal formé. 
On a une collection de dictionnaires séparés par des `\n`.

Il faut transformer cela en json valide, ou le charger autrement.

In [9]:
json.loads("[" + contenu.replace("\n", ",") + "]")

JSONDecodeError: Expecting value: line 1 column 813365 (char 813364)

In [10]:
contenu[-1000:]

'es avec jardin ou appartements du 2 au 3 pi\\u00e8ces: faites votre choix - Exceptionnel: une cuisine Blanchet d\'Huismes am\\u00e9nag\\u00e9e et install\\u00e9e dans...\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.selogerneuf.com/annonces/achat/maison/tours-37/138636083/#?cmp=INTSL_ListToDetail"}\n{"id": "annonce-137873909-139524", "genre": "Boutique", "prix": "195 000 \\u20ac", "pcs": "173 m\\u00b2", "desc": "Place Saint \\u00c9loi, Local commercial de 173m\\u00b2 avec acc\\u00e8s PMR. Il comprend des espaces bureaux en rez-de-chauss\\u00e9e de 92m\\u00b2 environ et 79m\\u00b2 \\u00e0 l\'\\u00e9tage. Belle fa\\u00e7ade.\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/boutique/tours-37/137873909.htm"}\n{"id": "annonce-136457803-733454", "genre": "Parking", "prix": "15 000 \\u20ac", "pcs": "13 m\\u00b2", "desc": "GRAMMONT.PLACE DE LA LIBERT\\u00c9. Garage en sous-sol.\\n\\u00c7a m\'int\\u00e9resse", "lien": "https://www.seloger.com/annonces/achat/parking/tours-37/136457803.htm"}\n'

In [11]:
data = json.loads("[" + contenu.replace("\n", ",")[:-1] + "]")

In [12]:
# alternativement
data = [json.loads(ligne) for ligne in contenu.splitlines()]

**REMARQUE** on peut constater aussi qu'il y a eu une tentative pour protéger les `\` en les doublant ce qui conduit à ne pas visualiser proprement certains caractères unicode.

In [13]:
print("\\u20ac")

\u20ac

In [14]:
print("\u20ac")

€

In [15]:
print(data[0]["desc"])

Appartement type 3 - TOURS CATHÉDRALE TOURS CATHÉDRALE: Ravissant appartement type 3 d'environ 90 m² dans résidence de standing (~50 lots) avec cave et parking. Entrée,...
Ça m'intéresse

**CONCLUSION** en fait `\\` était justement ce qu'il fallait faire pour ne pas avoir de problème une fois le json parsé.Il s'agit de bien faire la différence entre la représentation via `str` et via `repr`.

In [16]:
r"\u20ac"

'\\u20ac'

In [17]:
"\u20ac"

'€'

## Exercice

Charger le json dans un dataframe.

In [18]:
list(data[0].keys())

['id', 'genre', 'prix', 'pcs', 'desc', 'lien']

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(data=data)

In [21]:
df.columns

Index(['id', 'genre', 'prix', 'pcs', 'desc', 'lien'], dtype='object')

In [22]:
df

,id,genre,prix,pcs,desc,lien
0,annonce-138905473-376235,Appartement,374 400 €,3 p 2 ch 90 m²,Appartement type 3 - TOURS CATHÉDRALE TOURS CA...,https://www.seloger.com/annonces/achat/apparte...
1,annonce-140620177-376235,Appartement,499 200 €,"5 p 4 ch 146,27 m²",TOURS HYPERCENTRE - Appartement TOURS HYPERCEN...,https://www.seloger.com/annonces/achat/apparte...
2,annonce-140620179-376235,Appartement,499 200 €,5 p 3 ch 110 m²,TOURS PRÉBENDES NORD - APPARTEMENT TOURS PRÉBE...,https://www.seloger.com/annonces/achat/apparte...
3,annonce-133494153-376235,Maison / Villa,508 000 €,6 p 4 ch 132 m²,TOURS PRÉBENDES - PARTICULIER TOURANGEAUX TOUR...,https://www.seloger.com/annonces/achat/maison/...
4,annonce-137425993-376235,Maison / Villa,676 000 €,7 p 5 ch 185 m²,TOURS STRASBOURG / RABELAIS - Maison TOURS STR...,https://www.seloger.com/annonces/achat-de-pres...
...,...,...,...,...,...,...
1813,annonce-141342739-388776,Appartement,108 500 €,3 p 2 ch 76 m²,TOURS - Appartement de Type 3 comprenant séjou...,https://www.seloger.com/annonces/achat/apparte...
1814,annonce-137994967-30034771,Maison / Villa neuve,320 000 €,"4 p 84,4 m²",Maisons de ville 3 chambres avec jardin ou app...,https://www.selogerneuf.com/annonces/achat/mai...
1815,annonce-138636083-30034771,Maison / Villa neuve,320 000 €,"4 p 84,4 m²",Maisons de ville 3 chambres avec jardin ou app...,https://www.selogerneuf.com/annonces/achat/mai...
1816,annonce-137873909-139524,Boutique,195 000 €,173 m²,"Place Saint Éloi, Local commercial de 173m² av...",https://www.seloger.com/annonces/achat/boutiqu...
1817,annonce-136457803-733454,Parking,15 000 €,13 m²,GRAMMONT.PLACE DE LA LIBERTÉ. Garage en sous-s...,https://www.seloger.com/annonces/achat/parking...

# Exercice

1. Exploiter la première colonne: `id`.
2. Exploiter la deuxième colonne: `genre`.
3. Exploiter la troisième colonne: `prix`.
4. Exploiter la quatrième colonne: `pcs`.

## Gestion `id`

In [23]:
df.shape

(1818, 6)

In [24]:
df.drop_duplicates(subset="id", inplace=True)
df.shape

(1798, 6)

In [25]:
df.drop(columns="id", inplace=True)
df.columns

Index(['genre', 'prix', 'pcs', 'desc', 'lien'], dtype='object')

## Gestion `genre`

In [26]:
df["genre"]

0                Appartement
1                Appartement
2                Appartement
3             Maison / Villa
4             Maison / Villa
                ...
1813             Appartement
1814    Maison / Villa neuve
1815    Maison / Villa neuve
1816                Boutique
1817                 Parking
Name: genre, Length: 1798, dtype: object

**REMARQUE** on a l'impression d'avoir à faire à des catégories, on va donc regarder toutes les possibilités.

In [27]:
df["genre"].unique()

array(['Appartement', 'Maison / Villa', 'Appartement neuf',
       'Projet de construction', 'Maison / Villa neuve', 'Bâtiment',
       'Parking', 'Bureau', 'Local commercial', 'Immeuble', 'Boutique',
       'Terrain', 'Divers', 'Loft/Atelier/Surface', 'Château',
       'Hôtel particulier'], dtype=object)

**REMARQUE** On ne veut conserver que 
- 'Appartement'
- 'Appartement neuf'
- 'Maison / Villa'
- 'Maison / Villa neuve'

In [28]:
GENRES_VALIDES = {'Appartement', 'Appartement neuf', 'Maison / Villa', 'Maison / Villa neuve'}

df["genre"] in GENRES_VALIDES

TypeError: unhashable type: 'Series'

In [29]:
# on ne peut pas vectoriser l'opérateur python in
# il faut chercher une méthode pandas spécifique
# REPARER pour l'affectation sans slice
df.drop(df[~df["genre"].isin(GENRES_VALIDES)].index, inplace=True)

In [30]:
df["genre"].unique()

array(['Appartement', 'Maison / Villa', 'Appartement neuf',
       'Maison / Villa neuve'], dtype=object)

In [32]:
df.reset_index(inplace=True, drop=True)

**REMARQUE** il y a en fait deux variables explicatives dans cette colonne: 
1. neuf ou ancien
2. appartement ou maison

In [33]:
NEUF = {'Appartement neuf', 'Maison / Villa neuve'}
MAISON =  {'Maison / Villa', 'Maison / Villa neuve'}

In [34]:
df["neuf"] = df["genre"].isin(NEUF)
df["maison"] = df["genre"].isin(MAISON)
df.columns

Index(['genre', 'prix', 'pcs', 'desc', 'lien', 'neuf', 'maison'], dtype='object')

In [35]:
df.drop(columns="genre", inplace=True)
df.columns

Index(['prix', 'pcs', 'desc', 'lien', 'neuf', 'maison'], dtype='object')

In [36]:
df.reset_index(inplace=True, drop=True)

## Gestion de `prix`

In [37]:
df.dtypes

prix      object
pcs       object
desc      object
lien      object
neuf        bool
maison      bool
dtype: object

In [38]:
df["prix"]

0       374 400 €
1       499 200 €
2       499 200 €
3       508 000 €
4       676 000 €
          ...
1628    254 900 €
1629     61 500 €
1630    108 500 €
1631    320 000 €
1632    320 000 €
Name: prix, Length: 1633, dtype: object

In [39]:
df["prix_1"] = df["prix"].str.replace("€", "").str.replace(" ", "")

In [40]:
df["prix_1"]

0       374400
1       499200
2       499200
3       508000
4       676000
         ...
1628    254900
1629     61500
1630    108500
1631    320000
1632    320000
Name: prix_1, Length: 1633, dtype: object

In [41]:
df[df["prix_1"] == ""]

,prix,pcs,desc,lien,neuf,maison,prix_1
786,€,,LE MEILLEUR DE TOURS – Une opportunité rare. R...,https://www.selogerneuf.com/annonces/investiss...,True,False,

In [43]:
df.drop(df[df["prix_1"] == ""].index, inplace=True)
df.reset_index(inplace=True, drop=True)
df.loc[df["prix_1"] == ""]

Empty DataFrame
Columns: [prix, pcs, desc, lien, neuf, maison, prix_1]
Index: []

In [44]:
df["prix"] = df["prix_1"].astype(float)

ValueError: could not convert string to float: '84680HH'

In [45]:
# version bourrine
for orig, val in zip(df["prix"], df["prix_1"]):
    try:
        float(val)
    except ValueError:
        print(orig, "/", val)

84 680 € HH / 84680HH
42 400 € HH / 42400HH
63 600 € HH / 63600HH
68 900 € HH / 68900HH
70 000 € HH / 70000HH
73 720 € HH / 73720HH
84 650 € HH / 84650HH
87 188 € HH / 87188HH
89 260 € HH / 89260HH
90 100 € HH / 90100HH
93 512 € HH / 93512HH
94 036 € HH / 94036HH
96 500 € HH / 96500HH
99 600 € HH / 99600HH
99 640 € HH / 99640HH
100 000 € HH / 100000HH
102 820 € HH / 102820HH
107 390 € HH / 107390HH
115 160 € HH / 115160HH
115 500 € HH / 115500HH
116 600 € HH / 116600HH
119 600 € HH / 119600HH
120 340 € HH / 120340HH
121 900 € HH / 121900HH
125 000 € HH / 125000HH
125 520 € HH / 125520HH
126 140 € HH / 126140HH
127 200 € HH / 127200HH
127 946 € HH / 127946HH
129 500 € HH / 129500HH
129 500 € HH / 129500HH
130 000 € HH / 130000HH
133 000 € HH / 133000HH
135 200 € HH / 135200HH
135 880 € HH / 135880HH
135 880 € HH / 135880HH
137 280 € HH / 137280HH
139 000 € HH / 139000HH
139 965 € HH / 139965HH
141 060 € HH / 141060HH
146 240 € HH / 146240HH
146 240 € HH / 146240HH
148 400 € HH / 148400HH
155 872 € HH / 155872HH
156 000 € HH / 156000HH
162 460 € HH / 162460HH
178 500 € HH / 178500HH
203 220 € HH / 203220HH
203 220 € HH / 203220HH
206 570 € HH / 206570HH
208 000 € HH / 208000HH
208 400 € HH / 208400HH
218 760 € HH / 218760HH
262 020 € HH / 262020HH
270 560 € HH / 270560HH
278 740 € HH / 278740HH
290 440 € HH / 290440HH
311 250 € HH / 311250HH
315 000 € HH / 315000HH
362 600 € HH / 362600HH
370 000 € HH / 370000HH
380 330 € HH / 380330HH
399 000 € HH / 399000HH
428 300 € HH / 428300HH
438 000 € HH / 438000HH
459 500 € HH / 459500HH
112 460 € HH / 112460HH
115 550 € HH / 115550HH
125 850 € HH / 125850HH
181 470 € HH / 181470HH
230 000 € HH / 230000HH
265 650 € HH / 265650HH
294 000 € HH / 294000HH
299 600 € HH / 299600HH
336 000 € HH / 336000HH
369 200 € HH / 369200HH
384 800 € HH / 384800HH
249 840 € HH / 249840HH
362 600 € HH / 362600HH
109 816 € HH / 109816HH
217 560 € HH / 217560HH
322 360 € HH / 322360HH

In [46]:
df["prix_1"] = df["prix"].str.replace("€", "").str.replace(" ","").str.replace("HH", "")

In [47]:
df["prix"] = df["prix_1"].astype(float)

In [48]:
df.drop(columns="prix_1", inplace=True)
df.columns

Index(['prix', 'pcs', 'desc', 'lien', 'neuf', 'maison'], dtype='object')

## Gestion de `pcs`

In [49]:
df.pcs

0           3 p 2 ch 90 m²
1       5 p 4 ch 146,27 m²
2          5 p 3 ch 110 m²
3          6 p 4 ch 132 m²
4          7 p 5 ch 185 m²
               ...
1626           3 p 66,3 m²
1627        2 p 1 ch 42 m²
1628        3 p 2 ch 76 m²
1629           4 p 84,4 m²
1630           4 p 84,4 m²
Name: pcs, Length: 1631, dtype: object

In [50]:
test1 = "3 p 2 ch 90 m²"
test2 = "5 p 4 ch 146,27 m²"
test3 = "4 p 84,4 m²"

In [51]:
import re

In [52]:
motif1 = re.compile("^([0-9]+) p ([0-9]+) ch ([0-9]+(,[0-9]+)?) m²$")

In [53]:
motif1.match(test1)

In [54]:
motif1.match(test2)

In [55]:
motif1.match(test3)

In [56]:
res = motif1.match(test1)
res.groups()

('3', '2', '90', None)

In [57]:
res = motif1.match(test2)
res.groups()

('5', '4', '146,27', ',27')

In [58]:
motif2 = re.compile("^([0-9]+) p ([0-9]+(,[0-9]+)?) m²$")

In [59]:
motif2.match(test1)

In [60]:
motif2.match(test2)

In [61]:
motif2.match(test3)

In [62]:
motif2.match(test3).groups()

('4', '84,4', ',4')

In [63]:
df.loc[df["pcs"].str.match(motif1) | df["pcs"].str.match(motif2)].shape

(1477, 6)

In [64]:
df.shape

(1631, 6)

In [65]:
m = df["pcs"].str.match(motif1)

In [66]:
df.loc[~(df["pcs"].str.match(motif1) | df["pcs"].str.match(motif2))]["pcs"]

18       2 p 31,6 m² 1 balc
19      3 p 60,73 m² 1 balc
34         1 p 25 m² 1 tess
41        3 p 61,96 m² tess
53          1 p 30 m² 5 etg
               ...
1550     1 p 36,59 m² 1 asc
1551        1 p 19 m² 4 etg
1598        1 p 31 m² 1 asc
1623     1 p 13,77 m² 3 etg
1624        1 p 26 m² 1 asc
Name: pcs, Length: 154, dtype: object

**REMARQUE** plutôt que de continuer à construire des motifs, on va chercher à récupérer directement les variables d'intérêt.

### Extraction de la surface

In [67]:
motif_surface = re.compile("^.*?([0-9]+(,[0-9]+)?) m².*$")

In [68]:
print(test1)
motif_surface.match(test1).groups()

3 p 2 ch 90 m²

('90', None)

In [69]:
print(test2)
motif_surface.match(test2).groups()

5 p 4 ch 146,27 m²

('146,27', ',27')

In [70]:
print(test3)
motif_surface.match(test3).groups()

4 p 84,4 m²

('84,4', ',4')

In [71]:
df[~df["pcs"].str.match(motif_surface)]

,prix,pcs,desc,lien,neuf,maison
418,130000.0,2 p 1 ch 1 etg,"Dans le quartier des 2 Lions, à proximité des ...",https://www.seloger.com/annonces/achat/apparte...,False,False
422,192600.0,4 p 3 ch 1 etg,UNE EXCLUSIVITÉ CITYA TOURS NORD TYPE 4 - A To...,https://www.seloger.com/annonces/achat/apparte...,False,False
424,300000.0,9 p 4 ch,MK 8772-A 25min OUEST de Tours-Maison ancienne...,https://www.seloger.com/annonces/achat/maison/...,False,True
494,133625.0,2 p,INVETISSEUR - TOURS - IDÉAL INVESTISSEUR Appar...,https://www.seloger.com/annonces/achat/apparte...,False,False
591,96000.0,3 p 1 ch 1 asc,VUE DÉGAGÉE Très lumineux et sans vis à vis ! ...,https://www.seloger.com/annonces/achat/apparte...,False,False
592,135000.0,4 p 3 ch 3 etg,Tours -Parc de Grammont - Tours-parc de Grammo...,https://www.seloger.com/annonces/achat/apparte...,False,False
594,149000.0,1 p 3 etg,"Au coeur de l'hyper centre, dans une bâtisse c...",https://www.seloger.com/annonces/achat/apparte...,False,False

**REMARQUE** on pourrait utiliser le nombre de pièces pour faire de l'imputation, ici on va juste supprimer les lignes de l'échantillon.

In [72]:
df.drop(df[~df["pcs"].str.match(motif_surface)].index, inplace=True)
df.reset_index(inplace=True, drop=True)

In [73]:
df["surface"] = df["pcs"].str.extract(motif_surface)[0]

In [74]:
df

,prix,pcs,desc,lien,neuf,maison,surface
0,374400.0,3 p 2 ch 90 m²,Appartement type 3 - TOURS CATHÉDRALE TOURS CA...,https://www.seloger.com/annonces/achat/apparte...,False,False,90
1,499200.0,"5 p 4 ch 146,27 m²",TOURS HYPERCENTRE - Appartement TOURS HYPERCEN...,https://www.seloger.com/annonces/achat/apparte...,False,False,"146,27"
2,499200.0,5 p 3 ch 110 m²,TOURS PRÉBENDES NORD - APPARTEMENT TOURS PRÉBE...,https://www.seloger.com/annonces/achat/apparte...,False,False,110
3,508000.0,6 p 4 ch 132 m²,TOURS PRÉBENDES - PARTICULIER TOURANGEAUX TOUR...,https://www.seloger.com/annonces/achat/maison/...,False,True,132
4,676000.0,7 p 5 ch 185 m²,TOURS STRASBOURG / RABELAIS - Maison TOURS STR...,https://www.seloger.com/annonces/achat-de-pres...,False,True,185
...,...,...,...,...,...,...,...
1619,254900.0,"3 p 66,3 m²",Maisons de ville 3 chambres avec jardin ou app...,https://www.selogerneuf.com/annonces/achat/app...,True,False,"66,3"
1620,61500.0,2 p 1 ch 42 m²,"TOURS - Fontaines, Appartement de type 2 compr...",https://www.seloger.com/annonces/achat/apparte...,False,False,42
1621,108500.0,3 p 2 ch 76 m²,TOURS - Appartement de Type 3 comprenant séjou...,https://www.seloger.com/annonces/achat/apparte...,False,False,76
1622,320000.0,"4 p 84,4 m²",Maisons de ville 3 chambres avec jardin ou app...,https://www.selogerneuf.com/annonces/achat/mai...,True,True,"84,4"
1623,320000.0,"4 p 84,4 m²",Maisons de ville 3 chambres avec jardin ou app...,https://www.selogerneuf.com/annonces/achat/mai...,True,True,"84,4"